.final-results-panel {
  &.news {background-color: $blue;}
  &.life {background-color: $purple;}
  &.money {background-color: $green;}
  &.tech {background-color: $orange;}
  &.sports {background-color: $red;}
}